<div class="flash">
    <%= flash[:notice] %>
</div>

<div class="show_box">
<span class="show_span"><strong>Title</strong>:<%= @book.title %></span></br>
</div>
<div class="show_box">
<span class="show_span"><strong>Body</strong>:<%= @book.body %></span></br>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<span>|</span>
<%= link_to "Buck", "/books" %>